<div class="container">
    <div class="jumbotron">
       <div class="container">
        <% if current_user.wikis.count == 0 %>
            <h1>No Wikis</h1>
            <h3>Get writing!</h3>
        <% else %>
            <h1>Your Wikis</h1>
            <% current_user.wikis.each do |wiki| %>
              <div class="media col-sm-4">
              <div class="media-body">
               <h4 class="media-heading">
                 <span><%= link_to wiki.title, wiki %></span>
               </h4>
              </div>
            </div>
           <% end %>
        <% end %>
        </div>
    </div>
</div>