<div class="container">
    <div class="jumbotron">
       <li><%= link_to "Veiw all Wikis", wikis_path %></li>
       <li><%= link_to "Create new Wiki", new_wiki_path(@wiki) %></li>
    </div>
</div>