@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    background-color: #FFEFDB;
} 


.input-group {
    padding-bottom: 5px;
}

.jumbotron {
   background-color: #FFEFDB;
}

.cancel {
    padding-top: 10px;
}

