@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    background-color: #FFEFDB;
} 


.input-group {
    padding-bottom: 5px;
}

.jumbotron {
   background-color: #FFEFDB;
}

.cancel {
    padding-top: 10px;
}

.navbar-brand {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}

